<div class="content">
	<div class="previews">
		<%= image_tag @product.main_picture.url(:large) %>
	</div>
	<div class="desc">
		<h1><%= @product.name %></h1>
		<p><%= @product.description %></p>
		<span>Цена: <b><%= @product.price.to_i %></b> <span class="rur">&#8399;</span></span><%= link_to '', shopping_cart_path(:product_id => @product), :class => "add", :method => 'POST' %>
		
		
	</div>
	
	
	
	
	</div>