<!DOCTYPE html>
<html>
<head>
  <title>ActsAsShoppingCartApp</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- vk share -->
  <script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>
  <!-- end vk share -->
</head>
<body>
<div class="container">
	<header>
		<div class="vk"><img src="/assets/vk.png" /> Мы <a href="http://vk.com/jasmino">Вконтакте</a></div>
		<div class="logo"><a href="/"><img src="/assets/logo.png" /></a></div>
		<div class="cart"><img src="/assets/cart.png" /> <a href="/shopping_cart">Ваша корзина</a></div>
		<div class="menu">
			<ul>
				<li>Все сразу</li>
				<li><a href="">Кольца</a></li>
				<li><a href="">Сережки</a></li>
				<li><a href="">Кулоны и подвески</a></li>
				<li><a href="">Часы</a></li>
				<li><a href="">Броши</a></li>
				<li><a href="">Браслеты</a></li>
			</ul>
		</div>
	</header>

<%= yield %>

<footer>
		<div class="bottom_nav">
			<a href="">О магазине</a>
			<a href="">Доставка</a>
			<a href="">Помощь</a>
			<a href="">Контакты</a>
		</div>
		<div class="copy">&copy; Jasmino.ru</div>
	</footer>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187141698077259";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	</div>
	<!-- +1 button script -->
	<script type="text/javascript">
	  window.___gcfg = {lang: 'ru'};
	
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<!-- -->
	<!-- tweet -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
</div>
</body>
</html>
